/*----- theme color css start ----*/
.header-call-action a:hover,
.slick-arrow-style.slick-slider .slick-arrow:hover,
.slick-append button:hover,
.category-append button:hover,
.section-title .title-icon,
.color-switcher-inner .switcher-icon i,
.header-top-area .header-call-action a:hover,
.header-top-area .header-top-right ul li a:hover,
.header-middle-right .header-middle-shipping .single-block-shipping .shipping-icon i,
.header-middle-right .header-middle-block .header-mini-cart:hover .mini-cart-btn span.cart-notification,
.header-middle-right .header-middle-block .header-mini-cart ul.cart-list li .cart-info h4 a:hover,
.header-middle-right .header-middle-block .header-mini-cart ul.cart-list li .cart-info span,
.header-middle-right .header-middle-block .header-mini-cart ul.cart-list li .del-icon:hover,
.main-header-inner .category-toggle-wrap .category-toggle .cat-icon i,
.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li a:hover,
.main-header-inner .main-menu ul li:hover>a,
.main-header-inner .main-menu ul li.active>a,
.main-header-inner.header-2 .mini-cart2 .header-mini-cart ul.cart-list li .cart-info h4 a:hover,
.main-header-inner.header-2 .mini-cart2 .header-mini-cart ul.cart-list li .cart-info span,
.main-header-inner.header-2 .mini-cart2 .header-mini-cart ul.cart-list li .del-icon:hover,
.category-tab ul.nav li i,
.category-tab ul.nav li a:hover,
.category-tab ul.nav li a.active,
.sidebar-category ul li:hover a,
.sidebar-widget-body ul li a:hover,
.testimonial-item .testimonial-content h3 a:hover,
.testimonial-style-2 .testimonial-item .testimonial-content h3 a:hover,
.product-item .product-content h4 a:hover,
.product-item .product-content .pricebox .regular-price,
.product-list-item .product-list-content h3 a:hover,
.product-list-item .product-list-content .pricebox .regular-price,
.product-list-item .product-list-content .pricebox .old-price,
.category-item .category-content h4 a:hover,
.category-item .category-content .price-box .regular-price,
.category-item .category-content .price-box .old-price,
.paginatoin-area .pagination-box li a:hover,
.paginatoin-area .pagination-box li.active a,
.blog-item .blog-content h3 a:hover,
.blog-item>a,
.blog-item .blog-content .blog-details h3 a:hover,
.blog-item .blog-content .blog-details .blog-meta a:hover,
.blog-item .blog-content .blog-details .read-more:hover,
.blog-item .tag-line a:hover,
.comment-section ul li .comment-body .reply-btn a,
.product-details-des h3 a:hover,
.product-details-des h6 a:hover,
.product-details-des .pricebox .regular-price,
.product-details-des .customer-rev a:hover,
.product-details-des .tag-line a:hover,
.product-details-des .group-product-table td a:hover,
.product-review-info .tab-content .review-description .tab-des h3,
.checkoutaccordion h3 span,
.forget-pwd,
.custom-checkbox label a:hover,
.custom-checkbox .custom-control-label a:hover,
.custom-radio label a:hover,
.custom-radio .custom-control-label a:hover,
.cart-calculator-wrapper .cart-calculate-items .table tr td.total-amount,
.compare-table .table tbody tr td.product-image-title .category,
.compare-table .table tbody tr td.product-image-title .title:hover,
.compare-table .table tbody tr td.pro-ratting i,
.login-reg-form-wrap .login-reg-form-meta a,
.myaccount-content .welcome a:hover,
.myaccount-content .welcome strong,
.team-member .team-content h6,
.single-choose-item:hover i,
.breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover,
.breadcrumb-wrap nav .breadcrumb .breadcrumb-item.active,
.blog-sidebar .search-btn:hover i,
.blog-sidebar .blog-archive li a:hover,
.blog-sidebar .recent-post .recent-post-des span a:hover,
.footer-widget .widget-body ul.location li i,
.footer-widget .widget-body ul li a:hover,
.footer-widget .widget-body ul li a:before,
.footer-bottom-wrap .copyright-text p a {
    color: #0078D7 !important;
}

/*----- theme color css end ----*/
/*----- background color css start ----*/
.modal .modal-header .close:hover,
.slick-arrow-style_2.slick-slider .slick-arrow:hover,
.slick-dot-style ul.slick-dots li.slick-active button,
.home-btn:hover,
.home-btn.hm4-btn:hover,
.sqr-btn,
.scroll-top,
.tooltip>.tooltip-inner,
.header-middle-right .header-middle-shipping .single-block-shipping:hover .shipping-icon,
.header-middle-right .header-middle-block .header-middle-searchbox button.search-btn:hover,
.header-middle-right .header-middle-block .header-mini-cart:hover,
.header-middle-right .header-middle-block .header-mini-cart .mini-cart-btn span.cart-notification,
.header-middle-right .header-middle-block .header-mini-cart ul.cart-list li.checkout-btn a:hover,
.main-header-inner .category-toggle-wrap .category-toggle,
.main-header-inner .category-toggle-wrap nav.category-menu>ul>li>a:hover,
.main-header-inner.header-2 .mini-cart2 .header-mini-cart .mini-cart-btn span.cart-notification,
.main-header-inner.header-2 .mini-cart2 .header-mini-cart ul.cart-list li.checkout-btn a:hover,
.sidebar-category ul li.title,
.price-range-wrap .range-slider button.filter-btn:hover,
.product-tag a:hover,
.product-item .product-thumb .product-action-link a:hover,
.product-list-item .product-list-content .product-list-action-link a:nth-child(odd),
.top-bar-left .product-view-mode a:hover,
.top-bar-left .product-view-mode a.active,
.blog-item .blog-sharing a:hover,
.comment-section ul li .comment-body .reply-btn a:hover,
.product-details-des .action_link a.buy-btn,
.product-details-des .action_link a.buy-btn i,
.product-details-des .useful-links a:hover,
.custom-checkbox input:checked~.custom-control-label:before,
.custom-checkbox input:checked label:before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:checked label:before,
.custom-radio input:checked~.custom-control-label:before,
.custom-radio input:checked label:before,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-radio .custom-control-input:checked label:before,
.cart-table .table thead,
.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active,
.team-member .team-thumb .team-social a:hover,
.blog-sidebar .title::before,
.blog-sidebar .blog-tags li a:hover,
.footer-top-wrapper .social-icons a:hover,
.footer-widget .widget-body a.map-btn:hover,
.footer-top-wrapper .newsletter__wrap .newsletter__box button,
.price-range-wrap .price-range.ui-widget-content .ui-slider-range,
.price-range-wrap .price-range.ui-widget-content .ui-slider-handle,
.layout-changer li button:hover,
.layout-changer li button.active {
    background-color: #0078D7 !important;
}

/*----- background color css end ----*/
/*----- border color css start ----*/
.slick-arrow-style.slick-slider .slick-arrow:hover,
.slick-arrow-style_2.slick-slider .slick-arrow:hover,
.slick-append button:hover,
.category-append button:hover,
.home-btn:hover,
.header-middle-right .header-middle-shipping .single-block-shipping:hover .shipping-icon,
.header-middle-right .header-middle-block .header-middle-searchbox button.search-btn:hover,
.product-tag a:hover,
.nice-select.open,
.blog-item .blog-sharing a:hover,
.single-input-item input:active,
.single-input-item input:focus,
.single-input-item textarea:active,
.single-input-item textarea:focus,
.custom-checkbox input:checked~.custom-control-label:before,
.custom-checkbox input:checked label:before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:checked label:before,
.custom-radio input:checked~.custom-control-label:before,
.custom-radio input:checked label:before,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-radio .custom-control-input:checked label:before,
.cart-table .table thead tr th,
.cart-update-option .apply-coupon-wrapper form input:focus,
.cart-update-option .apply-coupon-wrapper form input:active,
.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active,
.team-member .team-thumb .team-social a:hover,
.blog-sidebar .blog-tags li a:hover,
.pro-nav .slick-slide.slick-current img,
.layout-changer li button,
.comment-section ul li .comment-body .reply-btn a {
    border-color: #0078D7 !important;
}

.bdr-bottom1 {
    border-bottom-color: #0078D7 !important;
}

.tooltip.bs-tooltip-top .arrow:before,
.product-list-item .product-list-content .pricebox {
    border-top-color: #0078D7 !important;
}

.tooltip.bs-tooltip-left .arrow:before,
.blog-item .blog-content .blog-details blockquote {
    border-left-color: #0078D7 !important;
}

/*----- border color css end ----*/
/*------ theme color darken ------*/
.product-list-item .product-list-content .product-list-action-link a.buy-btn i,
.cat-icon,
.product-details-des .action_link a.buy-btn i,
.product-details-des .action_link a.buy-btn:hover i,
.footer-top-wrapper .newsletter__wrap .newsletter__box form button:hover {
    background-color: #0063B1 !important;
}